<h1>Our food</h1>

<% @posts.each do |post| %>
  <h2>
    <%= link_to post.food, post_path(post) %>
    <%= image_tag post.picture.url(:medium) %>
  </h2>
  <p><%= post.description %>
      &nbsp by: <%= post.author %></p>

<% end %>
